{% extends 'base.html' %}

{% block title %} Delete word {% endblock %}

{% block content %}

<h1>Удалить слово</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="deleted_word">Слово для удаления:</label>
        <input type="text" id="deleted_word" name="deleted_word" placeholder="Введите слово..." required></input>
        
        <br>

        <input type="submit" value="Удалить">
    </form>
    
    <br>

    {% comment %} Отображение результата удаления {% endcomment %}
    {% if result %}
    <section>
        <h2>Результат удаления:</h2>
        <p>{{ result }}</p>
    </section>
    {% else %}
    <section>
        <h2>Результат удаления:</h2>
        <p>Слово для удаления не указано!</p>
    </section> 
    {% endif %}

{% endblock %}